project_data/
reference_data/
**/logs
**/*vcf.gz
**/*vcf.gz.tbi
**/*tsv
**/*txt
**/*out
**/*log
**/*snplist*
**/*pgen
**/*pvar
**/*psam
**/*yaml
**/*sif
workflow/envs/cache/
workflow/envs/SMARCA4_related/
.idea/
!config/config_example.yaml
!config/sample_config.yaml
